.main-heading{
    padding: 40px 24px 30px;
}
.main-heading h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}
.tabs-main .nav-tabs{
    border-bottom: 1px solid #94A3B8;
}
.tabs-main .nav-item{
    margin-right: 10px;
}
.tabs-main .nav-item:first-child{
    padding-left: 24px;
}
.tabs-main .nav-link{
padding: 10px 10px;
border-width: 1px 1px 0px 1px !important;
border-style: solid !important;
border-color: #E2E8F0 !important;
border-radius: 12px 12px 0px 0px !important;
}
.tabs-main .nav-link.active{
    background-color: #F9F9F9 !important;
    border-color: #94A3B8 !important;
    /* border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #94A3B8;
    border-radius: 12px 12px 0px 0px; */
}
.tabs-main .nav-link h4{
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E293B;
}
.tabs-main .down-up-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs-main .down-up-text p{
    margin: 0 15px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E293B;

}
.tabs-main .down-up-text span{
    display: flex;
    align-items: center;
}
.tabs-main .down-up-text span p{
    margin: 0 0 0 5px;
}
.tabs-main .down-up-text .down-text p{
    color: #D5095E;
}
.tabs-main .down-up-text .down-text svg{
    fill: #D5095E;
    width: 18px;
    height: 18px;
}
.tabs-main .down-up-text .up-text p{
    color: #1B760C;
}
.tabs-main .down-up-text .up-text svg{
    color: #1B760C;
    width: 18px;
    height: 18px;
}
