body{
    font-family: 'Inter', sans-serif;
    background: #F9F9F9;
}
.main-heading{
    padding: 40px 24px 30px;
}
.main-heading h1{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.tabs-main .nav-tabs{
    border-bottom: 1px solid #94A3B8;
    padding-left: 24px;
    flex-wrap: nowrap;
    align-items: end;
}
.tabs-main .nav-item{
    margin-right: 10px;
}
/* .tabs-main .nav-item:first-child{
   
} */
.tabs-main .nav-link{
padding: 10px 10px;
border-width: 1px 1px 0px 1px !important;
border-style: solid !important;
border-color: #E2E8F0 !important;
border-radius: 12px 12px 0px 0px !important;
}
.tabs-main .nav-link.active{
    background-color: #F9F9F9 !important;
    border-color: #94A3B8 !important;
}
.tabs-main .nav-link h4{
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E293B;
}
.tabs-main .down-up-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tabs-main .down-up-text p{
    margin: 0 15px 0 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1E293B;

}
.tabs-main .down-up-text span{
    display: flex;
    align-items: center;
}
.tabs-main .down-up-text span p{
    margin: 0 0 0 5px;
}
.tabs-main .down-up-text .down-text p{
    color: #D5095E;
}
.tabs-main .down-up-text .down-text svg{
    fill: #D5095E;
    width: 18px;
    height: 18px;
}
.tabs-main .down-up-text .up-text p{
    color: #1B760C;
}
.tabs-main .down-up-text .up-text svg{
    color: #1B760C;
    width: 18px;
    height: 18px;
}

/* tab-box */
.tab-box{
    margin-top: 30px;
    padding: 0 30px 0 24px;
}
.tab-box .scroll-left > :first-child{
    overflow-x: scroll;
    width: 100%;
    display: flex;
}
.tab-box .item{
    display: inline-block;
    padding: 15px 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px -3px rgba(178, 191, 211, 0.25), 0px 6px 20px -3px rgba(209, 213, 220, 0.2);
    border-radius: 12px;
    margin-right: 12px;
    min-width: 150px;
}
.tab-box .item .heading1{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.tab-box .item .heading1 img{
    margin-right: 6px;
    width: 30px;
    height: 30px;
}
.tab-box .item .heading1 h4{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #4B6180;
    margin-bottom: 0;

}
.tab-box .item .heading2 h4{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0F172A;
    margin-bottom: 0;
}
.tab-box .item .heading3{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.tab-box .item .heading3 p{
    margin-bottom: 0;
    margin-right: 6px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #0F172A;
}
.tab-box .item .heading3 span{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #D5095E;
}
.tab-box .item .heading4 h4{
    color: #64748B;
}
.tab-box .item .heading5 h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #64748B;
    margin-bottom: 0;
}

.date{
    
}

