.setting-tabs{
    padding: 40px 24px 30px;
}

.setting-tabs .nav-pills{
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 10px;
    height: 100%;
}
.setting-tabs  .nav-pills .nav-link{
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #94A3B8;
}
.setting-tabs  .nav-pills .nav-link.active{
    background: #1E293B;
    border-radius: 8px;
    color: #fff;
}
.personal-info{
    padding-bottom: 20px;
}
.upload-box{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #CBD5E1;
    /* border: 1px dashed #E2E8F0; */
    border-radius: 8px;
    padding: 16px 24px;
}
.upload-box label{
    width: 100%;
}
.upload-box p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B; 
    margin-bottom: 0;
    margin-top: 12px;
}
.upload-box p span{
    font-weight: 500;
    color: #2563EB;
}
.close-file{
    margin-left: 20px;
    cursor: pointer;
}
.password{
    padding-top: 24px;
    padding-bottom: 0;
    border-top: 1px solid #E2E8F0;
}
.tab-heading {
    margin-bottom: 15px;
}
 .tab-heading h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #334155;
    margin-bottom: 0;
}
 .tab-heading p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #64748B;
    margin-bottom: 0;
}
.my-button{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    background: #424867;
    border-radius: 8px;
    color: #FFFFFF;
    border: 2px solid #424867;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    transition: 0.3s all;
}
.my-button:hover,
.my-button:active{
    background: transparent;
    color: #424867;
    border: 2px solid #424867;
}
.my-button img{
    margin-left: 10px;
}
.btn:active{
    background: transparent !important;
    color: #424867 !important;
}
.my-button.my-button-transparent{
    background: transparent;
    color: #424867;
    border: 2px solid #424867;
    margin-right: 12px;
    transition: 0.3s all;
}
.my-button.my-button-transparent:hover{
    background: #424867;
    color: #FFFFFF;
    border: 2px solid #424867;
}
.my-button.blue{
    background: #2563EB;
    border: 2px solid #2563EB;
}
.my-button.blue:hover{
    background: transparent;
    color: #2563EB;
}
.account-form{
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 8px 8px 0 0;
    padding: 24px;
    border-bottom: 0;
}
.user-group{
    margin-bottom: 24px;
}
form .user-input{
    height: 44px;
    padding: 12px 14px;
    background: #FFFFFF;
    border: 1px solid #CBD5E1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-appearance: none;
    position: relative;
    outline: none;
}
form .user-input::placeholder{
   color:  #212529;
}
form .form-select{
    height: 44px;
    padding: 12px 14px;
    border: 1px solid #CBD5E1;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    width: 100%;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-appearance: none;
    position: relative;
    outline: none;
}
.dropdown-toggle{
    border: 1px solid #CBD5E1;
}
.dropdown-toggle:hover{
    background: #424867;
}
form .user-input:focus{
    border: 1px solid #424867;
    outline: none;
    box-shadow: none;
}
form .form-select:focus{
    border: 1px solid #424867;
    outline: none;
    box-shadow: none;
}
form .form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
    margin-bottom: 5px;
}
form .forget-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #94A3B8;
}
.button-box{
    padding: 16px 24px;
    background: #FFFFFF;
    border: 1px solid #EAECF0;
    border-radius: 0 0 8px 8px;
}


/* tabel */
table{
    table-layout: fixed;
    border-color:#F1F5F9 !important ;
    background: #fff;
    margin-bottom: 0 !important;
}
table tr th{
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #667085;
    padding: 12px 24px !important;
    background-color: #E2E8F0 !important;
    position: relative;
}
table tr th::after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background: #CBD5E1;
}
table tr th:last-child::after {
    display: none;
}
table tr td{
    padding: 22px 24px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
}
table tr:hover td{
background: #fff ;
}
.name-box .name-round{
    width: 40px;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F1F5F9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
}
.name-box .name-round p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #475569;
    margin-bottom: 0;
}
.name-details h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
    margin-bottom: 0;
}
.name-details p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #94A3B8;
    margin-bottom: 0;
}
.admin{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #2563EB;
    padding: 4px 10px;
    background: #EFF6FF;
    border-radius: 10px;
    display: inline-block;
}
.admin.user{
    color: #18065F;
    background: #F1F1FF;
}
.active-icon{
    display: inline;
    margin-left: 8px;
    cursor: pointer;
}
.active-icon svg{
    width: 18px;
    height: 18px;
    color: #94A3B8;
}
td .icon-box{
    display: inline; 
}
td .icon-box img:first-child{
    margin-right: 12px;
}

.active-text{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #94A3B8;
    border-radius: 8px;
    padding: 8px 12px;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1;
    white-space: nowrap;
    transition: 0.3s all;
    opacity: 0;
}
.active-text::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%) rotate(135deg);
    background: #94A3B8;
    width: 15px;
    height: 15px;
    z-index: -1;
   
}
.active-icon:hover + .active-text{
    opacity: 1;
}

/* Integration */
.integration-main{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}
.integration-main .integrat-heading .img-box .icon{
    background: #EFF6FF;
    border-radius: 12px;
    padding: 12px;
    margin-right: 12px;
    width: 54px;
    height: 54px;
    min-width: 54px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.integration-main .integrat-heading .img-box span{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E293B;
}
.integration-main .error-box{
    /* padding: 6px 10px; */
    /* display: inline-block; */
    /* background: rgba(45, 230, 14, 0.06);
    border-radius: 6px; */
    margin: 10px 0 0 0;
}
.integration-main .error-box span{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #1B760C;
    position: relative;
    padding: 6px 10px 6px 20px;
    background: rgba(45, 230, 14, 0.06);
    border-radius: 6px;
}
.integration-main .error-box span:first-child{
    margin-right: 15px;
}

.integration-main .error-box span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #1B760C;
    margin-left: 10px;
}
.integration-main .error-box span.error{
    background: rgba(213, 9, 94, 0.13);
    color: #D5095E;
}
.integration-main .error-box span.error::before{
    background:#D5095E ;
}
.integration-main .integrat-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
    margin-bottom: 0 ;
    margin-top: 10px;
}

/* goal tab */

.goal{
    background: #FFFFFF;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
}
.goal table tr th::after{
    display: none;
}
.goal-main .button-box{
    border:0;
    border-top: 1px solid #EAECF0;
}
.goal table tr td:first-child{
    border-right: 1px solid #F1F5F9;
}
.goal table tr td img{
    margin-left: 15px;
}
.goal table tr:hover td{
    background: #fff;
    box-shadow: none;
}
.goal table tr td.on-hover{
    background: #F9F9F9;
    cursor: pointer;
}

/* Security tab */
.security{
    padding-bottom: 20px;
    border-bottom:1px solid #E2E8F0 ;
}
.authentication-main{
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
}
.authentication-heading h4{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E293B;
    margin-bottom: 0;
}
.authentication-heading span{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    background: rgba(213, 9, 94, 0.13);
    color: #D5095E;
    position: relative;
    padding: 6px 10px 6px 20px;
    border-radius: 6px;
}
.authentication-heading span::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #D5095E;
    margin-left: 10px;
}
.authentication-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
    margin: 10px 0 14px 0;
}

.login-history{
    padding-top: 24px;
}

.login-history table tr th:first-child {
    border-radius: 12px 0 0 0;
}
.login-history table tr th:last-child {
    border-radius: 0 12px 0 0 ;
}
.login-history table{
    border-radius: 12px ;
}
.login-history table tr th::after{
    display: none;
}
.login-history table tr{
    border-bottom: 1px solid #EAECF0 !important;
}
.login-history table tr:last-child{
    border-bottom: 1px solid transparent !important;
}


/* notification tab */
.notification-main{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(16, 24, 40, 0.1), 0px 1px 2px rgba(16, 24, 40, 0.06);
    border-radius: 8px;
}
.notification{
    border-bottom: 1px solid #E2E8F0;
}
.notification-main .button-box{
    border: 0;
}
.notification .notification-left .account-form{
    border: 0;
}
input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(64%) sepia(13%) saturate(462%) hue-rotate(175deg) brightness(99%) contrast(88%);
}
.notification-right .notification-form .form-switch{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 22px 16px ;
    margin-bottom: 0;
    border-bottom: 1px solid #E2E8F0;
}


.notification-right .notification-form .form-switch:last-child{
    border-bottom: 0;
}
.notification-right .notification-form .form-switch label{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #334155;
}

.notification-right .notification-form .form-switch .form-check-input{
    width: 48px;
    height: 28px;
    margin: 0;
    cursor: pointer;
}
.notification-right .notification-form .form-switch .form-check-input:focus{
    box-shadow: none;
    outline: none;
}
.notification-right .notification-form .form-switch  .form-check-input:checked {
    background-color: #2563EB;
    border-color: #2563EB;
}

@media (max-width:991px){
    .notification-right .notification-form .form-switch {
        padding: 22px 24px;
    }
}
