.sidebar.active {
    width: 240px;
    padding: 10px 12px;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background: #14171F;
    box-shadow: 2px 2px 10px -1px rgba(0, 0, 0, 0.1);
    padding: 2px 6px;
    transition: all 0.5s ease;
}
.logo_content {
    position: relative;
    padding: 10px 10px;
}
.sidebar.active .logo_content .logo {
    opacity: 1;
    pointer-events: none;
}
.sidebar.active .link_names {
    opacity: 1;
    pointer-events: auto;
}
.sidebar .link_names {
    opacity: 0;
    pointer-events: none;
}
.sidebar .logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    font-size: 20px;
    opacity: 0;
    pointer-events: none;
}
.sidebar #btn {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    text-align: center;
    line-height: 50px;
    transform: translate(-50%, -50%) rotate(180deg);
    cursor: pointer;

}
.sidebar.active #btn {
    left: 90%;
    transform: translate(-50%, -50%) rotate(0deg);
}

.sidebar ul {
    margin-top: 30px;
    padding-left: 0;
}
/* .sidebar ul li {
    transition: all 0.4s ease;
    border-radius: 8px;
} */
/* .sidebar ul li {
    position: relative;
  
    display: flex;
    align-items: center;
} */
.sidebar ul li{
    position: relative;
}
.sidebar ul li a {
    color: #94A3B8;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 8px;
    white-space: nowrap;
    padding: 8px 10px;
}
.sidebar ul li .icons img{
    margin-right: 20px;
    transition: all 0.4s ease;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #fff;
    background: #1E293B;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #fff;
}
.sidebar ul li a.active .icons img,
.sidebar ul li:hover .icons img{
    filter: brightness(15);
}
.sidebar ul li:hover .icons.lang img{
    filter: none;
}
.sidebar.active ul li .tooltip {
    display: none;
}
.sidebar ul li .tooltip {
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    /* height: 35px; */
    width: 122px;
    background: #fff;
    /* line-height: 35px; */
    text-align: center;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    transition: 0s;
    opacity: 0;
    color: #1d1b31;
    pointer-events: none;
    display: block;
}
.sidebar ul li:hover .tooltip {
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
.sidebar ul li span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.5s ease;
}
.sidebar-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 80px;
}

.h-close{
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    display: none;
}
.sidebar-box .search-box{
    display: none;
    margin-bottom: 34px;
}

.user-box{
    margin-bottom: 24px;
    display: none !important;
}
.user-box img{
margin-right: 12px;
}
.user-box .text h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F9F9F9;
    margin-bottom: 5px;
}
.user-box .text a{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #94A3B8;
    text-decoration: none;
}
@media (max-width:991px){
    .user-box{
        display: flex !important;
    }
    .sidebar-box .search-box{
        display: block;
    }
    .h-close{
        display: block;
    }
    .sidebar #btn{
        display: none;
    }
    .sidebar .logo_content .logo{
        opacity: 1 !important;
    }
    .sidebar ul .search-box input{
        width: 100%;
    }
}