.sidebar.active~.home_content {
    left: 240px;
    width: calc(100% - 240px);
}
.home_content {
    position: absolute;
    left: 60px;
    width: calc(100% - 60px);
    transition: all 0.5s ease;
    z-index: -1;
}
.header {
    padding: 12px 24px;
    background: #14171F;
    position: sticky;
    top: 0;
    z-index: 1034;
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box {
    position: relative;
}
/* .search-box .bx-search {
    color: #fff;
    font-size: 22px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
} */

.search-box img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.search-box input::placeholder{
    color: #94A3B8;
}
.search-box input:focus + img{
    filter: brightness(15);
}
.search-box input {
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1E293B;
    padding: 14px 18px 14px 45px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}
.icon-list {
    display: flex !important;
    list-style: none;
}
.icon-list li {
    margin-right: 8px;
}


/* notifications-popup */
.notifications-popup{
    background: #FFFFFF;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 3px 13px rgba(199, 199, 199, 0.25), 0px 3px 10px rgba(96, 108, 128, 0.06);
    border-radius: 12px;
    padding: 20px 0;
    width: 450px;
    /* margin-left: auto; */
}
/* .notifications-popup-inner{
    padding: 0 20px;
} */
.notifications-count-main{
    display: flex;
   justify-content: space-between;
    align-items: center;
    padding: 0 20px 20px;
    border-bottom: 1px solid #E2E8F0;
}

.notifications-count h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E293B;
    margin-right: 10px;
    margin-bottom: 0;
}
.notifications-count span{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #2563EB;
    background: #DBEAFE;
    border-radius: 29px;
    padding: 4px 15px;
    /* min-width: 35px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.mark-read{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2563EB;
    margin-bottom: 0;
}
.new-main{
    padding: 10px 20px 10px;
    border-bottom: 1px solid #E2E8F0;
}
.new-main h6{
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #64748B;
    margin-bottom: 0;
}
.user-main .user-main-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}